<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>숙소 등록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>숙소 등록</h2>
    <!-- 타임리프 폼 설정 -->
    <form th:action="@{/api/accommodation/create}"  method="post" >

        <div class="form-group">
            <label for="name">숙소명</label>
            <!-- DTO 필드 name과 연결 -->
            <input type="text" class="form-control" id="name" name="name" placeholder="숙소명을 입력하세요" required>
            <!-- 유효성 검사 오류 메시지 출력 -->
        </div>

        <div class="form-group">
            <label for="accommodationType">숙소 타입</label>
            <!-- DTO 필드 accommodationType과 연결 -->
            <select class="form-control" id="accommodationType" name="accommodationType" required>
                <option th:each="type : ${T(jwlee.elasticsearch_sample.domain.enums.AccommodationType).values()}"
                        th:value="${type.name()}"
                        th:text="${type.name()}"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="locationGuideText">위치 가이드</label>
            <!-- DTO 필드 locationGuideText와 연결 -->
            <input type="text" class="form-control" id="locationGuideText" name="locationGuideText" placeholder="위치 가이드를 입력하세요" required>
        </div>

        <div class="form-group">
            <label for="description">설명</label>
            <!-- DTO 필드 description과 연결 -->
            <textarea class="form-control" id="description" name="description" rows="3" placeholder="숙소에 대한 설명을 입력하세요" required></textarea>
        </div>

        <div class="form-group">
            <label for="isFree">주차 가능 여부</label>
            <!-- DTO 필드 parkingInfo와 연결 (boolean) -->
            <select class="form-control" id="isFree" name="isFree" required>
                <option value=true>가능</option>
                <option value=false>불가능</option>
            </select>
        </div>

        <div class="form-group">
            <label for="parkingType">주차 타입</label>
            <!-- DTO 필드 parkingType과 연결 -->
            <select class="form-control" id="parkingType"  name="parkingType">
                <option th:each="type : ${T(jwlee.elasticsearch_sample.domain.enums.ParkingType).values()}"
                        th:value="${type.name()}"
                        th:text="${type.name()}"></option>
            </select>
        </div>

<!--        <div class="form-group">-->
<!--            <label for="images">이미지 업로드</label>-->
<!--            &lt;!&ndash; 파일 업로드 필드 (이미지 업로드 처리 설정) &ndash;&gt;-->
<!--            <input type="file" class="form-control-file" id="images" name="images" multiple>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
</div>
</body>
</html>
